name: Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  release:
    uses: photon-hq/buildspace/.github/workflows/rust-service-release.yaml@main
    permissions:
      contents: write
      pull-requests: read
    with:
      service-name: enva
      binary-name: client
      binary-path: crates/client
      prerelease: ${{ github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'prerelease') }}
      github-release: ${{ github.event_name == 'pull_request' && contains(github.event.pull_request.labels.*.name, 'release') }}
      build-env: "BASE_URL=https://enva.photon.codes"
    secrets:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
