name: Release

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  release:
    uses: photon-hq/buildspace/.github/workflows/rust-service-release.yaml@ENG-566-Reorganize-Build-Space
    permissions:
      contents: write
      pull-requests: read
    with:
      service-name: enva
      binary-name: enva
      binary-path: crates/client
      build-env: "BASE_URL=https://enva.photon.codes"
    secrets:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
